.row
  .col-md-6.col-md-offset-3
    .row
      .col-md-12.text-center
        %h2 Thanks!
        %p
          We've successfully processed your NDA signature. You're good to go.
    .row
      .col-md-12
        .well
          %p Would you like us to email you a copy? Enter your email address.
          = simple_form_for "signature" do |f|
            = f.input :email, label: false, placeholder: "Enter Your Email", input_html: { class: "input-lg"}
            = f.submit "Send Me a Copy of the Signed NDA", class: "btn btn-primary"
    .row
      .col-md-12
        %p
          = link_to "Sign a new NDA", root_path