#signature-container {

  margin: 2em 0;

  #signature_name {
    width: 100%;
    padding: .7em;
    border: 1px solid;
    border-bottom: 0px;
    font-size: 150%
  }

  .sigWrapper {
    position: relative;
    overflow: hidden;
    #sig-x {
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-size: 73px;
      color: #999;
    }
    #signature-line {
      position: absolute;
      border-top: 3px dashed #ccc;
      width: 95%;
      margin-left: 2.5%;
      bottom: 21px;
    }
  }

  .actions {
    margin: 2em 0 0 0;
  }
}
