.row
  .col-md-12
    %h1 Application Users
    %hr


.row
  .col-md-12
    %table#signatures_table.table.bordered-table.table-striped
      %thead
        %th ID
        %th Name
        %th Email
        %th Created On
      %tbody
        = render collection: @users, partial: "admin/users/user"

