.row
  .span12
    %h1 Non-Disclosure Agreements

.row
  .span12
    %table#ndas_table.table
      %thead
        %th ID
        %th Name
        %th
      %tbody
        = render collection: @ndas, partial: "admin/non_disclosure_agreements/nda"