.row
  .col-md-10
    %h1 Non-Disclosure Agreements
  .col-md-2
    = link_to "New NDA", new_admin_non_disclosure_agreement_path, class: "btn btn-primary"

.row
  .col-md-12
    %table#ndas_table.table
      %thead
        %th ID
        %th Name
        %th
      %tbody
        = render collection: @ndas, partial: "admin/non_disclosure_agreements/nda"