.row
  .span10
    %h1 Non-Disclosure Agreements
  .span2
    = link_to "New NDA", new_admin_non_disclosure_agreement_path, class: "btn"

.row
  .span12
    %table#ndas_table.table
      %thead
        %th ID
        %th Name
        %th
      %tbody
        = render collection: @ndas, partial: "admin/non_disclosure_agreements/nda"