/ = link_to "Nda App", root_path, :class => 'brand'
%ul.nav
  %li= link_to "Signatures", admin_index_path
  %li= link_to "Non-Disclosure Agreements", admin_non_disclosure_agreements_path
  %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
  %li= link_to 'Edit account', edit_user_registration_path

